:root {
    --font-DM-sans: "DM Sans", helvetica, arial, sans-serif;
    --font-DM-serif: "DM Serif Display", serif;

    --surface-primary: #ffffff;
    --surface-secondary: #fcf7ea;

    --text-primary: #000000;
    --text-secondary: #484848;

    --border-grey: #f5f5f5;
    --border-solar: #eee7d4;

    --brand-c1a-primary: #4cd4e7;
    --brand-c2a-primary: #9796db;
    --brand-positive-primary: #80bb51;
    --brand-negative-primary: #ea6060;
    --brand-alert-primary: #fcd571;

    --brand-c1a-secondary: #c6f8ff;
    --brand-c2a-secondary: #d5d4ff;
    --brand-positive-secondary: #e0ffc8;
    --brand-negative-secondary: #ffcbcb;
    --brand-alert-secondary: #fff0cb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
    color: var(--text-secondary);
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: var(--font-DM-serif);
    font-weight: 400;
}

p {
    font-family: var(--font-DM-sans);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #5C39E7;
}

img {
    width: 100%;
}

button {
    border: none;
    margin-right: .25rem;
    font-size: 1rem;
    padding: 0.5rem .75rem;
    border-radius: .75rem;
    border: 2px solid var(--border-solar);
    background-color: var(--surface-secondary);
    color: var(--text-secondary);
    font-weight: 500;

    &:hover {
        background-color: var(--surface-primary);
    }
}

.phone-container {
    width: 390px;
    height: 844px;
    background-color: black;
    border-radius: 3rem;
    border: 8px solid #1B1B1B;
    position: relative;
    overflow: scroll;
    margin-top: 4rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

.top-layer {
    background-color: rgba(0, 0, 0, 0.82);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
}

.ticker-tape {
    width: 372px;
    overflow:hidden;

    & img {
        width: 3505px;
        height: 25px;
        animation: tickerTape 700s linear infinite;
    }
}

.fab {
    position: absolute;
    z-index: 30;
    top: 45.2rem;
    right: 0px;
    width:372px;
}

.fab-2 {
    position: absolute;
    z-index: 30;
    top: 43rem;
    right: 0px;
    width:372px;
}

.fab:hover {
    cursor: pointer;
    .trade-button {
        fill-opacity: 1;
    }
}

.fab-2:hover {
    cursor: pointer;
    .trade-button {
        fill-opacity: 1;
    }
}

.trade-button {
    transition: all 200ms ease;
}

.lockup {
    position: absolute;
    z-index: 30;
    top: 3rem;
    left: 1rem;
    width: 165px;
}




/* media queries */

@media screen and (max-width: 760px) {
    .lockup {
        display: none;
    }

    body {
        flex-direction: column;
    }
}

/* animations */

@keyframes bgColors {
    0% {
        background-color: var(--brand-alert-secondary);
    }

    25% {
        background-color: var(--brand-c1a-secondary);
    }

    75% {
        background-color: var(--brand-c2a-secondary);
    }

    100% {
        background-color: var(--brand-positive-secondary);
    }
}

@keyframes tickerTape {
    0% {
        transform: translateX(0px)
    }

    100% {
        transform: translateX(-3500px)
    }
}

@keyframes transitionBottom {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* custom cursor */

/* .tapCursor {
    position: absolute;
    box-sizing: content-box;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 0, 0, 0.2);
    border: 12px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    z-index: 40;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    pointer-events: none;

    mix-blend-mode: multiply;
} */

/* Trade Ticekt Modal */

.trade-ticket {
    cursor: pointer;
    z-index: 50;
}

.md-1 {
    position: absolute;
    top: 5rem;
    z-index: 50;
    animation: ticketTrans 200ms ease;
    display:none;
}

.md-2 {
    position: absolute;
    top: 5rem;
    z-index: 50;
    animation: ticketTrans 200ms ease;
    display:none;
}

.md-3 {
    position: absolute;
    top: 5rem;
    z-index: 50;
    animation: ticketTrans 200ms ease;
    display:none;
}

.context-menu {
    position: absolute;
    top: 16rem;
    left: 3.5rem;
    z-index: 50;
    animation: contextTrans 250ms ease;
    display:none;
}

.trade-3a,
.trade-3b {
    top: 14rem;
    left: 1rem;
}

.phoneLock {
    display: none;
}

@keyframes ticketTrans {
    0% {
        transform: translateY(300px);
        opacity: .9;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes contextTrans {
    0% {
        transform: translateY(20px);
        opacity: .9;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
